# Add Python dependencies here as integrations are chosen.
# Common future candidates:
# python-kasa
# tinytuya
# paho-mqtt
PyYAML
pytest
pytest-asyncio
python-kasa
tinytuya
fastapi
uvicorn
httpx2
tzdata
